:root{
    --background: rgba(0, 0, 0, 0.8);
}
    
body{
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 0px;
}
h2{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
}
p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    line-height: 2em;
}
#points-intro{
    margin-bottom: 3px;
}
.points{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding-top: 0;
    line-height: 2em;
    margin-bottom: 0;
}
body{
    background: white;
}
.black-background{
    background: black;
}
.text{
    margin-top: 0;
    margin-left: 10vw;
    margin-right: 10vw;
}

/*Navbar CSS*/
header{
    background-color: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}  
.logo{
    color: white;
    margin-top: 14px;
    height: 28px;
}
.logo a{
    color:white;
    text-decoration: none;
}
nav{
    position: absolute;
    text-align: left;
    top:100%;
    left:0;
    background-color: var(--background);
    width:100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}    
nav ul{
    list-style: none;
    margin:0;
    padding:0;
}
nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}
nav a{
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}    
nav a:hover{
    color:orange;
    text-decoration: none;
}
.nav-toggle{
    display: none;
}
.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}
.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}
.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}
.nav-toggle-label span::before{
    bottom: 7px;
}
.nav-toggle-label span::after{
    top:7px;
}
.dropdown li{
    margin-top: 10px;
    margin-left: 30px;
}

.dropdown a{
    text-transform: none;
    font-family: 'Roboto', sans-serif;;
}
.active a{
    color: yellow;
}
.banner-img{
    width:100%;
    position: relative;
}
.thumbnail-left{
    position: absolute;
    top: 15%;
    width: 35%;
    left: 4%;
}
.thumbnail-poster{
    position: absolute;
    top: 13%;
    width: 21.5%;
    left: 12%;
}
.thumbnail-left:hover, .thumbnail-right:hover, .thumbnail-poster:hover{
    opacity: 70%;
    cursor: pointer;
}
.thumbnail-right{
    position: absolute;
    top: 15%;
    width: 35%;
    right: 4%;
}

.persona{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.side-by-side{
    display: flex;
    justify-content: center;
}
.small-img{
    height: 35vw;
    max-height: 100%;
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
.small-video{
    height: 35vw;
    max-height: 100%;
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
.one-small-video{
    height: 60vw;
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.large-img{
    height: 60vw;
    max-height: 100%;
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
.large-video{
    height: 60vw;
    max-height: 100%;
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
figcaption{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.boxed, .boxed-end{
    padding: 25px;
    background: #b5d9e9;
    background-clip: padding-box;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.boxed p, .boxed-full p{
    margin-bottom: 0px;
    line-height: 2em;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.boxed-end p, .boxed-intro p{
    margin-bottom: 0px;
    line-height: 2em;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 90%; 
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
}
.boxed-intro{
    padding: 20px;
    background: #b5d9e9;
    background-clip: padding-box;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.boxed li, .boxed-full li{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.boxed-full{
    padding: 40px;
    background: lightblue;
    background-clip: padding-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    width:100%;
    text-align: center;
    padding: 0;
  }
  
/* Left text */
.left-text {
    position: absolute;
    top: 50%;
    left: 4%;
    color: white;
    font-size: 6vw;
  }

/* Center text */
.center-text {
    position: absolute;
    top: 33%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2.8vw;
    text-align:left;
  }
/* Right text */
.right-title {
    position: absolute;
    top: 52%;
    right: 4%;
    color: white;
    font-size: 6vw;
    text-align: right;
    line-height: 1.1em;
  }
.right-description {
    position: absolute;
    top: 68%;
    right: 4%;
    color: white;
    font-size: 1.8vw;
    text-align: right;
    font-family: 'Roboto', sans-serif;
  }
.right-date {
    position: absolute;
    bottom: 49%;
    right: 4%;
    color: white;
    font-size: 1.9vw;
    text-align: right;
  }
  .right-details {
    position: absolute;
    top: 70%;
    right: 4%;
    color: white;
    font-size: 1.5vw;
    text-align: right;
    line-height: 1.4vw;
    font-family: 'Roboto', sans-serif;
  }
  .right-question {
    position: absolute;
    top: 68%;
    right: 4%;
    color: white;
    font-size: 1.6vw;
    text-align: right;
    line-height: 2.3vw;
    font-family: 'Roboto', sans-serif;
  }

.ux-button{
    position: absolute;
    top: 11%;
    left: 8.5%;
    color: black;
    background-color:rgb(250, 228, 169);
    font-size: 2.5vw;
    border-radius: 10px;
    border:none;
    width: 20vw;
  }

.art-button{
    position: absolute;
    top: 11%;
    left: 73%;
    color: black;
    background-color:rgb(250, 228, 169);
    font-size: 2.5vw;
    border-radius: 10px;
    border:none;
    width: 20vw;
  }
.ux-button:hover,.art-button:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(13, 73, 45);
}

.previous-button{
    color: black;
    background-color:rgb(250, 228, 169);
    font-size: 21px;
    border-radius: 10px;
    border:none;
    width: 250px;
    margin-right: 10px;
    text-align: center;
  }

.next-button{
    color: black;
    background-color:rgb(250, 228, 169);
    font-size: 21px;
    border-radius: 10px;
    border:none;
    width: 250px;
    margin-left: 10px;
    text-align: center;
  }
.previous-button:hover,.next-button:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(13, 73, 45);
}

@media screen and (min-width: 700px){
    .nav-toggle-label{
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 12fr) 1fr;
    }
    .logo{
        grid-column: 2 / 3;
    }
    nav{
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul{
        display: flex;
    }
    nav li{
        margin-left: 3em;
        margin-bottom: 0;
    }
    nav a{
        opacity: 1;
        position: relative;
    }
    nav a::before {
        content: '';
        display: block;
        height: 3px;
        background: white;
        position: absolute;
        bottom: -.2em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
      }
      nav a:hover::before {
        transform: scale(1,1);
      }
      .dropdown{
        display: block;
        text-align: left;
        margin-top: 15px;
        margin-left: -15px;
        position: absolute;
        background: var(--background);
        width: 275px;
    }
    .dropdown li {
        line-height: 35px;
        margin-top: -10px;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .dropdown a{
        text-transform: none;
        font-family: 'Roboto', sans-serif;;
    }
    .dropdown li{
        display: none;
    }
    ul li:hover .dropdown li{
        display: block;
    }
    .persona{
        width:80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .small-img{
        height: 35vw;
        max-height: 100%;
        max-width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .small-video{
        height: 35vw;
        max-height: 100%;
        max-width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .large-img{
        height: 50vw;
        max-height: 100%;
        max-width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .large-video{
        height: 50vw;
        max-height: 100%;
        max-width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .previous-button{
        color: black;
        background-color:rgb(250, 228, 169);
        font-size: 2.5vw;
        border-radius: 10px;
        border:none;
        width: 30vw;
        margin-right: 20px;
      }
    
    .next-button{
        color: black;
        background-color:rgb(250, 228, 169);
        font-size: 2.5vw;
        border-radius: 10px;
        border:none;
        width: 30vw;
        margin-left: 20px;
      }
    .previous-button:hover,.next-button:hover{
        color: rgb(255, 255, 255);
        background-color:rgb(13, 73, 45);
    }
    .boxed-intro{
        padding: 20px;
        background: #b5d9e9;
        background-clip: padding-box;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }
    .one-small-video{
        height: 40vw;
        max-height: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
.right-button{
    position: absolute;
    top: 81%;
    right: 4%;
    color: black;
    background-color:rgb(250, 228, 169);
    font-size: 2.5vw;
    border-radius: 10px;
    border:none;
    width: 15vw;
  }
.double-line{
    line-height: 1.6em;
}
/*Left design*/
.left-title {
    position: absolute;
    bottom: 35%;
    left: 4%;
    color: white;
    font-size: 4vw;
    text-align: left;
    line-height: 1.1em;
  }
.left-description {
    position: absolute;
    top: 67%;
    left: 4%;
    color: white;
    font-size: 1.8vw;
    text-align: left;
    font-family: 'Roboto', sans-serif;
  }
.left-date {
    position: absolute;
    bottom: 55%;
    left: 4%;
    color: white;
    font-size: 1.9vw;
    text-align: left;
  }

.left-question, .left-details {
    position: absolute;
    top: 68%;
    left: 4%;
    font-size: 1.6vw;
    text-align: left;
    line-height: 2.3vw;
    font-family: 'Roboto', sans-serif;
  }

.left-button{
    position: absolute;
    top: 80%;
    left: 4%;
    color: black;
    background-color:rgb(250, 228, 169);
    font-size: 2.5vw;
    border-radius: 10px;
    border:none;
    width: 15vw;
  }

.left-button:hover, .right-button:hover, form button:hover{
    color: white;
    background-color:rgb(13, 73, 45);
}
#black-text{
    color: rgb(51, 51, 51);
}
form{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
form input{
    margin-bottom: 20px;
    width: 50vw;
    height: 60px;
    border-radius: 7px;
    background-color: #faeec7;
    padding-left: 20px;
    color: black;
    font-size: 18px;
    border: none;
}
form textarea{
    margin-bottom: 20px;
    width: 50vw;
    height: 120px;
    border-radius: 7px;
    background-color: #faeec7;
    padding: 20px;
    color: black;
    font-size: 18px;
    border: none;
}
form button{
    color: black;
    background-color:rgb(250, 228, 169);
    font-size: 18px;
    height: 50px;
    border-radius: 10px;
    border:none;
    width: 100px;
}